.banner_caption {
	position: relative;
	top: 30%;
}

.card_btn{
    box-shadow: 2px 2px 6px 0px rgba(0,0,0, .3);
}
.card {
	box-shadow: 0px 0px 5px 0px rgba(0,0,0, .3);
}
.contact_form {
	box-shadow: 0px 1px 5px 0px rgba(0,0,0, .1);
}

